* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "cooper-hewitt-bold", sans-serif;
}

nav {
  height: 4rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 2rem;
  height: 2rem;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav a:last-child {
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 15rem;
}
header h1 {
  font-size: 3.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pronoun {
  font-size: 2.5rem;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.dotted {
  border-bottom: 1px dotted #000;
  text-decoration: none;
  cursor: pointer;
}

.selected {
  background-color: #f0f0f0;
  padding: 0 0.5rem;
}

.colored {
  color: rgb(32, 56, 48);
}

.underline {
  border-bottom: 1px #000 solid;
}

form {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}
form input {
  width: 100%;
  padding: 1rem 0;
  padding-left: 1rem;
  border-radius: 15px;
  border: none;
  font-size: 1.3rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
}
form input:focus {
  outline: none;
  border: none;
}
form button {
  position: absolute;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
form button img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(90deg);
}

.moodNavigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.moodNavigation button {
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}
.moodNavigation .rightArrow {
  transform: rotate(0deg);
  cursor: pointer;
}
.moodNavigation .leftArrow {
  transform: rotate(180deg);
  cursor: pointer;
}
.moodNavigation img {
  width: 1.5rem;
  height: 1.5rem;
}

.table,
.resultPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 0;
  padding-bottom: 0;
}

.table {
  gap: 2rem;
}

.resultPanel {
  text-align: center;
}

table tr:first-child {
  border-bottom: 1px black solid;
}
table td,
table th {
  padding: 0.3rem 0.5rem;
}
table td:not(:first-child):hover {
  background-color: antiquewhite;
}
table td:first-child {
  font-weight: bold;
}

.apiInfo {
  background-color: #f0f0f0;
  margin-top: 5rem;
  padding: 2rem;
  width: 50%;
}
.apiInfo h1 {
  margin-bottom: 1.5rem;
}
.apiInfo p {
  margin-bottom: 0.8rem;
}

pre {
  margin-top: 2rem;
  background-color: #2d2c4c;
  padding: 1rem;
}
pre code {
  color: #f0f0f0;
}

.exampleRequest {
  color: #6c63ff;
}

@media only screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav a {
    justify-content: center;
  }
  nav a:last-child {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  header {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    height: 10rem;
  }
  header h1 {
    text-align: center;
    font-size: 2rem;
    display: none;
  }
  header form {
    width: 100%;
  }
  .table {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: scroll;
  }
  .table .moodNavigation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0.5rem;
    width: 100%;
    justify-content: center;
  }
  .table table {
    margin-top: 2.5rem;
  }
  .apiInfo {
    margin-top: 2rem;
    width: 100%;
  }
  .apiInfo .request {
    font-size: 0.6rem;
  }
  pre {
    overflow-x: auto;
  }
}/*# sourceMappingURL=styles.css.map */