* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    height: 4rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    img {
        width: 2rem;
        height: 2rem;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        &:last-child {
            font-weight: 400;
        }
    }

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 15rem;

    h1 {
        letter-spacing: 3px;
        font-size: 3.5rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pronoun {
    font-size: 2.5rem;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.dotted {
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor: pointer;
}

.selected {
    background-color: #f0f0f0;
    padding: 0 .5rem;
}
.colored {
    color: rgb(32, 56, 48);
}
.underline {
    border-bottom: 1px #000 solid;
}
form {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;

    input {
        width: 100%;
        padding: 1rem 0;
        padding-left: 1rem;
        border-radius: 15px;
        border: none;
        font-size: 1.3rem;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);

        &:focus {
            outline: none;
            border: none;
        }
    }

    button {
        position: absolute;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            transform: rotate(90deg);
        }
    }
}

.table,
.resultPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1.5rem 0;
    padding-bottom: 0;
   
}
.resultPanel {
    text-align: center;
}

table {
    tr:first-child {
        border-bottom: 1px black solid;
    }

    td,
    th {
        padding: .3rem .5rem;

    }

    td:not(:first-child) {

        &:hover {
            background-color: antiquewhite;
        }
    }

    td:first-child {
        font-weight: bold;
    }
}

.apiInfo {
    background-color: #f0f0f0;
    margin-top: 5rem;
    padding: 2rem;
    width: 50%;
   h1 {
    margin-bottom: 1.5rem;
   }
   p{
    margin-bottom: .8rem;
   }
}
pre {
    margin-top: 2rem;
    background-color: #2d2c4c;
    padding: 1rem;
    code {
        color: #f0f0f0;
    }
}
.exampleRequest {
    color:#6c63ff
}
@media only screen and (max-width: 800px) {
    nav {
        padding-left: 0;
        a {
            justify-content: center;
        }
    }
    header {
        padding-right: 1rem ;
        padding-left: 1rem;
        padding-bottom: 0;
        padding-top: 0;
        height: 10rem;
        h1 {
            text-align: center;
            font-size: 2rem;
            display: none;
        }
        form {
            width: 100%;
        }
    }
    .table {
        width: 100%;
       flex-direction: row;
        overflow-x: scroll;
        h2 {
            display: none;
        }
    }
    .apiInfo {
        margin-top: 2rem;
        width: 100%;
        .request {
            font-size: .6rem;
        }
    }
    pre {
        overflow-x: auto;
    }
}